.nextlvl__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
}

.nextlvl__services-heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.nextlvl__services-heading h1 {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.nextlvl__services-heading p {
    color: var(--color-subtext);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.nextlvl__services-container {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nextlvl__services-container_article {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.nextlvl__services-container_article-image {
    height: 340px;
}

.nextlvl__services-container_article-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 4px;
}

.nextlvl__services-container_article-content h2 {
    font-family: var(--font-family);
    color: var(--color-text);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.nextlvl__services-container_article-content h3 {
    font-family: var(--font-family);
    color: var(--color-subtext);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

@media screen and (max-width: 1050px) {
    .nextlvl__services-container {
        gap: 20px;
    }

    .nextlvl__services-container_article-image {
        height: 280px;
    }

    .nextlvl__services-container_article-image img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }

    .nextlvl__services-container_article-content {
        padding: 8px;
    }

    .nextlvl__services-container_article-content h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .nextlvl__services-container_article-content h3 {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 800px) {
    .nextlvl__services-container {
        flex-direction: column;
    }
}