@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;
  
  --color-bg: #fff;
  --color-primary: #084672;
  --color-text: #064973;
  --color-subtext: #5C585C;
  --color-btn: #DE5A10;
}